// MARK: Initial colors

/*
$primary: #4C956C;
$secondary: #2C6E49;
$content-color: wheat;
$text-color: #000000;
$nav-color: white;
$footer-color:white;
$title-color: whitesmoke;
*/

// MARK: Light Theme

$primary: purple;
$secondary: blue;
$content-color: lightgray;
$text-color: #000000;
$nav-color: white;
$header-color: blue;
$footer-color:white;
$title-color: gray;

// MARK: Dark Theme

$primary-dark: purple;
$secondary-dark: blue;
$content-color-dark: lightgray;
$text-color-dark: #000000;
$nav-color-dark: white;
$header-color-dark: blue;
$footer-color-dark: white;
$title-color-dark: grey;